@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);




body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Raleway', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Raleway', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Oswald', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Oswald', sans-serif;
}
.btn {
  border-radius: 1.6em;
}
.mbr-subscribe .btn {
  border-radius: 1.6em !important;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Oswald', sans-serif;
  font-style: normal;
}
.mbr-author-name {
  font-family: 'Oswald', sans-serif;
}
.mbr-author-desc {
  font-family: 'Oswald', sans-serif;
  font-style: normal;
}
.mbr-plan-title {
  font-family: 'Oswald', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Oswald', sans-serif;
  font-style: normal;
}
.bg-primary {
  background-color: #7e9b9f !important;
}
.bg-success {
  background-color: #2969b0 !important;
}
.bg-info {
  background-color: #3d8eb9 !important;
}
.bg-warning {
  background-color: #2b0680 !important;
}
.bg-danger {
  background-color: #f28281 !important;
}
.btn-primary {
  background-color: #7e9b9f;
  border-color: #7e9b9f;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #597478;
  border-color: #597478;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #597478 !important;
  border-color: #597478 !important;
}
.btn-secondary {
  background-color: #553982;
  border-color: #553982;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #32224d;
  border-color: #32224d;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #32224d !important;
  border-color: #32224d !important;
}
.btn-info {
  background-color: #3d8eb9;
  border-color: #3d8eb9;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #2a627f;
  border-color: #2a627f;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #2a627f !important;
  border-color: #2a627f !important;
}
.btn-success {
  background-color: #2969b0;
  border-color: #2969b0;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #1b4472;
  border-color: #1b4472;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #1b4472 !important;
  border-color: #1b4472 !important;
}
.btn-warning {
  background-color: #2b0680;
  border-color: #2b0680;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #120337;
  border-color: #120337;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #120337 !important;
  border-color: #120337 !important;
}
.btn-danger {
  background-color: #f28281;
  border-color: #f28281;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #eb3d3c;
  border-color: #eb3d3c;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #eb3d3c !important;
  border-color: #eb3d3c !important;
}
.btn-primary-outline {
  background: none;
  border-color: #4e6669;
  color: #4e6669;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #7e9b9f;
  border-color: #7e9b9f;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #7e9b9f !important;
  border-color: #7e9b9f !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #271a3b;
  color: #271a3b;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #553982;
  border-color: #553982;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #553982 !important;
  border-color: #553982 !important;
}
.btn-info-outline {
  background: none;
  border-color: #24536c;
  color: #24536c;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #3d8eb9;
  border-color: #3d8eb9;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #3d8eb9 !important;
  border-color: #3d8eb9 !important;
}
.btn-success-outline {
  background: none;
  border-color: #16385d;
  color: #16385d;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #2969b0;
  border-color: #2969b0;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #2969b0 !important;
  border-color: #2969b0 !important;
}
.btn-warning-outline {
  background: none;
  border-color: #0a011f;
  color: #0a011f;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #2b0680;
  border-color: #2b0680;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #2b0680 !important;
  border-color: #2b0680 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #e82625;
  color: #e82625;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #f28281;
  border-color: #f28281;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #f28281 !important;
  border-color: #f28281 !important;
}
.text-primary {
  color: #7e9b9f !important;
}
.text-success {
  color: #2969b0 !important;
}
.text-info {
  color: #3d8eb9 !important;
}
.text-warning {
  color: #2b0680 !important;
}
.text-danger {
  color: #f28281 !important;
}
.alert-success {
  background-color: #2969b0;
}
.alert-info {
  background-color: #3d8eb9;
}
.alert-warning {
  background-color: #2b0680;
}
.alert-danger {
  background-color: #f28281;
}
.btn-social {
  border-color: #7e9b9f;
}
.btn-social:hover {
  background: #7e9b9f;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #7e9b9f;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #7e9b9f;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #7e9b9f;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #7e9b9f;
}
.lead a,
.lead a:hover {
  color: #7e9b9f;
}
.lead blockquote {
  border-color: #7e9b9f;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #c7d4d5;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #79aae0;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #98c5dd;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #5612f4;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #7e9b9f;
}
.scrollToTop_wraper {
  opacity: 0 !important;
}
#ext_menu-0 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-0 .navbar-caption {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#ext_menu-0 .navbar-toggler {
  color: #f28281;
}
#ext_menu-0 .close-icon::before,
#ext_menu-0 .close-icon::after {
  background-color: #f28281;
}
#ext_menu-0 .link,
#ext_menu-0 .dropdown-item {
  color: #f28281;
}
#ext_menu-0 .link {
  font-size: 0.75rem;
}
#ext_menu-0 .dropdown-item,
#ext_menu-0 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-0 .link:hover,
#ext_menu-0 .dropdown-item:hover,
#ext_menu-0 .link:focus,
#ext_menu-0 .dropdown-item:focus {
  color: #7e9b9f;
}
#ext_menu-0 .link[aria-expanded="true"],
#ext_menu-0 .dropdown-menu {
  background: #000000;
}
#ext_menu-0 .nav-dropdown-sm .link:focus,
#ext_menu-0 .nav-dropdown-sm .link:hover,
#ext_menu-0 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-0 .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#ext_menu-0 .navbar,
#ext_menu-0 .nav-dropdown-sm,
#ext_menu-0 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-0 .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#ext_menu-0 .bg-color.transparent .link {
  color: #f28281;
  transition: none;
}
#ext_menu-0 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-0 .bg-color.transparent.opened .link:hover,
#ext_menu-0 .bg-color.transparent.opened .link:focus {
  color: #7e9b9f;
}
#ext_menu-0 .link[aria-expanded="true"],
#ext_menu-0 .dropdown-item[aria-expanded="true"] {
  color: #7e9b9f!important;
}
#header5-5 .mbr-section-title {
  color: #000;
}
#header5-5 .mbr-section-lead {
  color: #ffffff;
}
#header5-5 .mbr-section-title P {
  color: #ffffff;
}
#social-buttons3-7 .mbr-section-title,
#social-buttons3-7 .btn-social {
  color: #fff;
}

#ext_menu-b .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-b .navbar-caption {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#ext_menu-b .navbar-toggler {
  color: #f28281;
}
#ext_menu-b .close-icon::before,
#ext_menu-b .close-icon::after {
  background-color: #f28281;
}
#ext_menu-b .link,
#ext_menu-b .dropdown-item {
  color: #f28281;
}
#ext_menu-b .link {
  font-size: 0.75rem;
}
#ext_menu-b .dropdown-item,
#ext_menu-b .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-b .link:hover,
#ext_menu-b .dropdown-item:hover,
#ext_menu-b .link:focus,
#ext_menu-b .dropdown-item:focus {
  color: #7e9b9f;
}
#ext_menu-b .link[aria-expanded="true"],
#ext_menu-b .dropdown-menu {
  background: #000000;
}
#ext_menu-b .nav-dropdown-sm .link:focus,
#ext_menu-b .nav-dropdown-sm .link:hover,
#ext_menu-b .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-b .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#ext_menu-b .navbar,
#ext_menu-b .nav-dropdown-sm,
#ext_menu-b .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-b .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#ext_menu-b .bg-color.transparent .link {
  color: #f28281;
  transition: none;
}
#ext_menu-b .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-b .bg-color.transparent.opened .link:hover,
#ext_menu-b .bg-color.transparent.opened .link:focus {
  color: #7e9b9f;
}
#ext_menu-b .link[aria-expanded="true"],
#ext_menu-b .dropdown-item[aria-expanded="true"] {
  color: #7e9b9f!important;
}
#form1-d .form-control-label {
  color: #ffffff;
}
#form1-d .mbr-section-title {
  color: #ffffff;
}
#form1-d SMALL {
  color: #f28281;
}

#ext_menu-e .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-e .navbar-caption {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#ext_menu-e .navbar-toggler {
  color: #f28281;
}
#ext_menu-e .close-icon::before,
#ext_menu-e .close-icon::after {
  background-color: #f28281;
}
#ext_menu-e .link,
#ext_menu-e .dropdown-item {
  color: #f28281;
}
#ext_menu-e .link {
  font-size: 0.75rem;
}
#ext_menu-e .dropdown-item,
#ext_menu-e .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-e .link:hover,
#ext_menu-e .dropdown-item:hover,
#ext_menu-e .link:focus,
#ext_menu-e .dropdown-item:focus {
  color: #7e9b9f;
}
#ext_menu-e .link[aria-expanded="true"],
#ext_menu-e .dropdown-menu {
  background: #000000;
}
#ext_menu-e .nav-dropdown-sm .link:focus,
#ext_menu-e .nav-dropdown-sm .link:hover,
#ext_menu-e .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-e .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#ext_menu-e .navbar,
#ext_menu-e .nav-dropdown-sm,
#ext_menu-e .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-e .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#ext_menu-e .bg-color.transparent .link {
  color: #f28281;
  transition: none;
}
#ext_menu-e .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-e .bg-color.transparent.opened .link:hover,
#ext_menu-e .bg-color.transparent.opened .link:focus {
  color: #7e9b9f;
}
#ext_menu-e .link[aria-expanded="true"],
#ext_menu-e .dropdown-item[aria-expanded="true"] {
  color: #7e9b9f!important;
}

#header3-q .mbr-section-title,
#header3-q .mbr-section-subtitle {
  text-align: center;
}
#header3-q H3 {
  color: #ffffff;
}
#header3-q SMALL {
  color: #f28281;
}
#ext_menu-h .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-h .navbar-caption {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#ext_menu-h .navbar-toggler {
  color: #f28281;
}
#ext_menu-h .close-icon::before,
#ext_menu-h .close-icon::after {
  background-color: #f28281;
}
#ext_menu-h .link,
#ext_menu-h .dropdown-item {
  color: #f28281;
}
#ext_menu-h .link {
  font-size: 0.75rem;
}
#ext_menu-h .dropdown-item,
#ext_menu-h .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-h .link:hover,
#ext_menu-h .dropdown-item:hover,
#ext_menu-h .link:focus,
#ext_menu-h .dropdown-item:focus {
  color: #7e9b9f;
}
#ext_menu-h .link[aria-expanded="true"],
#ext_menu-h .dropdown-menu {
  background: #000000;
}
#ext_menu-h .nav-dropdown-sm .link:focus,
#ext_menu-h .nav-dropdown-sm .link:hover,
#ext_menu-h .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-h .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#ext_menu-h .navbar,
#ext_menu-h .nav-dropdown-sm,
#ext_menu-h .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-h .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#ext_menu-h .bg-color.transparent .link {
  color: #f28281;
  transition: none;
}
#ext_menu-h .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-h .bg-color.transparent.opened .link:hover,
#ext_menu-h .bg-color.transparent.opened .link:focus {
  color: #7e9b9f;
}
#ext_menu-h .link[aria-expanded="true"],
#ext_menu-h .dropdown-item[aria-expanded="true"] {
  color: #7e9b9f!important;
}
#msg-box2-k .mbr-section-title {
  color: #fff;
  text-align: left;
  font-size: 23px;
}
#msg-box2-k .mbr-section-subtitle {
  color: #a0a0a0;
}
#msg-box2-l .mbr-section-title {
  color: #fff;
  text-align: left;
  font-size: 23px;
}
#msg-box2-l .mbr-section-subtitle {
  color: #a0a0a0;
}
#msg-box2-m .mbr-section-title {
  color: #fff;
  text-align: left;
  font-size: 23px;
}
#msg-box2-m .mbr-section-subtitle {
  color: #a0a0a0;
}
#msg-box2-n .mbr-section-title {
  color: #fff;
  text-align: left;
  font-size: 23px;
}
#msg-box2-n .mbr-section-subtitle {
  color: #a0a0a0;
}
#msg-box2-o .mbr-section-title {
  color: #fff;
  text-align: left;
  font-size: 23px;
}
#msg-box2-o .mbr-section-subtitle {
  color: #a0a0a0;
}
#msg-box2-j .mbr-section-title {
  color: #fff;
  text-align: left;
  font-size: 23px;
}
#msg-box2-j .mbr-section-subtitle {
  color: #a0a0a0;
}
